<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.SET_ALARM" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo_original"
        android:label="All In One Guide"
        android:roundIcon="@drawable/app_logo_original"
        android:supportsRtl="true"
        android:theme="@style/Theme.Class10AllGuideManual2081"
        tools:targetApi="31">
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.SeeModelSolution"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.SeeModelQuestion"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.NepaliMediumOptMath"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.NeplaiMediumSocial"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.NepaliMediumScience"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.NepaliMediumMath"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.EnglishMediumOptMath"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.EnglishMediumSocial"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.EnglishMediumScience"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.EnglishMediumMath"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.GeneralAccount"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.GeneralComputer"
            android:exported="false" />
        <activity
            android:name="com.boss.Subjects.GeneralEnglish.GeneralNepali"
            android:exported="false" />

        <activity
            android:name="com.boss.Subjects.GeneralEnglish.GeneralEnglish"
            android:exported="false" />
        <activity
            android:name=".adapter.Details"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8523770818071031~1848396228" />
    </application>

</manifest>